<template>
    <div>
        <div class="container">
            <form @submit.prevent="agregarPais()">
                <div class="mb-3 row">
                    <label for="inputNombre" class="col-4 col-form-label">Nombre</label>
                    <div class="col-8">
                        <input v-model="newPais.nombre" type="text" class="form-control" name="inputNombre" id="inputNombre"
                            placeholder="Nombre" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputCapital" class="col-4 col-form-label">Capital</label>
                    <div class="col-8">
                        <input v-model="newPais.capital" type="text" class="form-control" name="inputCapital"
                            id="inputCapital" placeholder="Capital" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPresidente" class="col-4 col-form-label">Presidente</label>
                    <div class="col-8">
                        <input v-model="newPais.presidente" type="text" class="form-control" name="inputPresidente"
                            id="inputPresidente" placeholder="Presidente" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputHabitantes" class="col-4 col-form-label">Numero de Habitantes</label>
                    <div class="col-8">
                        <input v-model="newPais.habitantes" type="number" min="0" class="form-control"
                            name="inputHabitantes" id="inputHabitantes" placeholder="Habitantes" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="offset-sm-1 col-sm-8 ">
                        <button type="submit" class="btn btn-primary float-end">
                            Agregar
                        </button>
                    </div>
                </div>
            </form>
            <div class="mb-3 row">
                <div class="offset-sm-4 col-sm-8 ">
                    <button :title="ordenamiento" :style="{ backgroundColor: color }" @click="cambiarOrdenamiento()"
                        class="btn btn-primary float-end">
                        {{ ordenamiento }}
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Presidente</th>
                    <th scope="col">Número de Habitantes</th>
                </tr>
            </thead>
            <tbody>
                <PaisesItem @seleccionado="paisSeleccionado(pais)" v-bind="pais" v-for="(pais, i) in paisesData" :key="i" />
            </tbody>
        </table>
    </div>
</template>

<script setup lang="ts">
import PaisesItem from './PaisesItem.vue';
import PaisData from '@/data/PaisData';
import type { IPais } from '@/interfaces/IPaises';
import { ref } from 'vue';

var paisesData = ref([...PaisData]);

var newPais = ref({
    id: 0,
    nombre: '',
    capital: '',
    presidente: '',
    habitantes: 0
});
const ordenamiento = ref('Ascendente');
const color = ref('blue');

const paisSeleccionado = (event: IPais) => {
    alert('Has seleccionado: ' + event.nombre);
}

const agregarPais = () => {
    debugger;
    agregarID();

    if (verificarNull() == false) {
        alert('Todos los campos son obligatorios');
        return;
    }
    if (verificarDatosRepetidos() == false) {
        alert('No pueden haber nombres, capitales y presidentes iguales');
        return;
    }
    if (verificarCamposIguales() == false) {
        alert('No pueden haber campos iguales');
        return;
    }
    if (verificarHabitantesMayorACero() == false) {
        alert('Debe haber mayor a 0 de habitantes');
        return;
    }
    if (verificarLengthString() == false) {
        alert('El nombre y la capital debe tener menos de 25 letras, y el presidente menos de 68 letras');
        return;
    }
    paisesData.value.push({ ...newPais.value });
    // limpiarCampos();
}

const verificarNull = () => {
    if (Object.values(newPais.value).some(value => value === '')) {
        return false;
    }
    return true;
};
const agregarID = () => {
    let maxId = Math.max(...paisesData.value.map((pais) => pais.id));
    newPais.value.id = maxId + 1;
}
const verificarDatosRepetidos = () => {
    let newNombre = newPais.value.nombre.toLowerCase()
    let newCapital = newPais.value.capital.toLowerCase()
    let newPresi = newPais.value.presidente.toLowerCase()
    if (paisesData.value.findIndex(pais => pais.nombre.toLowerCase() == newNombre ||
        pais.capital.toLowerCase() == newCapital ||
        pais.presidente.toLowerCase() == newPresi &&
        pais.id != newPais.value.id) >= 0) {
        return false;
    }
    return true;
}
const verificarCamposIguales = () => {
    const { nombre, presidente, capital } = newPais.value;
    if (nombre !== presidente && nombre !== capital && presidente !== capital) {
        return true;
    } else {
        return false;
    }
}
const verificarHabitantesMayorACero = () => {
    if (newPais.value.habitantes <= 0) {
        return false
    }
    return true;
}
const verificarLengthString = () => {
    const { nombre, presidente, capital } = newPais.value;
    if (nombre.length > 25 || capital.length > 25 || presidente.length > 68) {
        return false;
    }
    return true;
}
const cambiarOrdenamiento = () => {
    debugger;
    if (ordenamiento.value === "Ascendente") {
        ordenamiento.value = "Descendente";
        color.value = "purple"
        paisesData.value.reverse();
    } else {
        ordenamiento.value = "Ascendente"
        color.value = "blue"
        paisesData.value.reverse();
    }
}
</script>

<style scoped></style>