<template>
    <tr @click="click()">
        <td :style="{ backgroundColor: seleccionado }">{{ pais.id }}</td>
        <td :style="{ backgroundColor: seleccionado }">{{ pais.nombre }}</td> 
        <td :style="{ backgroundColor: seleccionado }">{{ pais.capital }}</td>
        <td :style="{ backgroundColor: seleccionado }">{{ pais.presidente }}</td>
        <td :style="{ backgroundColor: seleccionado }">{{ pais.habitantes }}</td>
    </tr>
</template>

<script setup lang="ts">
import type { IPais } from '@/interfaces/IPaises'
import { ref } from 'vue';

const pais = defineProps<IPais>();
const emits = defineEmits(['Seleccionado']);
const seleccionado = ref('#cfe2ff');

const click = () => {
    debugger;

    if (seleccionado.value == '#cfe2ff') {
        seleccionado.value = 'red ';
    } else {
        seleccionado.value = '#cfe2ff';
    }

    emits('Seleccionado', pais.nombre);
};
</script>

<style scoped></style>